
<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Futiba Club</title>

        <!-- Font Awesome -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap -->

        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design Bootstrap -->

        <link href="/css/mdb.min.css" rel="stylesheet">

        <!-- Your Custom Styles -->

        <link href="/css/style.css" rel="stylesheet">

        <link href="/css/futiba-interno.css" rel="stylesheet">

    </head>

    <body>

        <header>

            <nav class="navbar navbar-expand-lg navbar-light green fixed-top scrolling-navbar">

                <div class="container">

                    <a class="navbar-brand" href="/">
                        <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">

                        <% include ../elements/menu %>

                    </div> <!-- Navbar Collapse -->

                </div> <!-- Container -->

            </nav> <!-- Navbar -->

        </header> <!-- Header -->

        <section class="content">

            <div class="container">

                <form class="row" method="post" action="/admin/games/results">

                    <div class="md-form">

                        <i class="fa fa-user prefix grey-text"></i>

                        <input type="text" class="form-control" name="team_a">

                        <label for="orangeForm-name">Time A</label>

                    </div>

                    <div class="md-form">

                        <i class="fa fa-user prefix grey-text"></i>

                        <input type="text" class="form-control" name="team_b">

                        <label for="orangeForm-name">Time B</label>

                    </div>

                    <div class="text-center">
                        <button class="btn btn-deep-orange">Criar Jogo</button>
                    </div>

                </form> <!-- Form Games -->

                <form method="post">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>#</th>

                                <th>Jogos</th>

                                <th>Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                        <% games.forEach( game => { %>
                            <tr>
                                <th scope="row">
                                    <%= game.id %>
                                </th>

                                <td>
                                    <input class="form-control" name="team_<%= game.id %>[a]">
                                        <%= game.team_a %> Vs <%= game.team_b %>
                                    <input class="form-control" name="team_<%= game.id %>[b]">
                                </td>

                                <td><a href="/admin/games/delete/<%= game.id %>">Excluir</a></td>
                            </tr>
                        <% }) %>
                        </tbody>

                    </table> <!-- Table Games -->

                    <input type="submit" value="Resultados" class="btn btn-success">

                </form>

            </div> <!-- Container -->

        </section> <!-- Content -->

        <!-- JQuery -->

        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

        <!-- Bootstrap Tool Tips -->

        <script type="text/javascript" src="/js/popper.min.js"></script>

        <!-- Bootstrap Core Js -->

        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <!-- Mdb Code Js -->

        <script type="text/javascript" src="/js/mdb.min.js"></script>

    </body>

</html>
